extends layout

block content
    br
    section.container.mt-5
        .row
            .p-3.col-12
                img.mx-auto.d-block(src='/dist/img/nie1.jpg')
            .p-3.col-12
                h2.text-center NIE (N&uacute;mero de Identidad de Extranjero)
            .p-3.col-12
                p
                | If you are going to stay in Spain for a period longer than three months, you must apply for an EU residence certificate, and the NIE number will be provided at the same time.
                p
                | In order to apply for a NIE number, you need to:
                ol
                    li
                        | Fill in and sign the EX-18 form:
                        a(href='http://extranjeros.inclusion.gob.es/es/ModelosSolicitudes/Mod_solicitudes2/18-Certificado_residencia_comunitaria_FEB20.pdf') EX-18 Model
                    li
                        | Passport or national identity document. In the event that it is expired, you must provide a copy of it and the renewal application.
                    li
                        | Depending on the assumption:
                        ul
                            li
                                | If you are an employee, you may provide any of the following documents:
                                ul
                                    li
                                        | Employer&apos;s hiring statement or employment certificate, including, at least, the data of the name and address of the company, tax identification and contribution account code.
                                    li
                                        | Work contract registered with the Public Employment Service, or the communication of the contract and its conditions through the CONTRAT @ platform.
                                    li
                                        | Registration document or situation assimilated to registration in the corresponding Social Security regime or consent to verify the data in the files of the General Treasury of Social Security.
                            li
                                | If you are a self-employed worker, you can provide any of the following documents:
                                ul
                                    li Registration in the Census of Economic Activities.
                                    li
                                        | Justification of its establishment by means of the Registration in the Mercantile Registry.
                                    li
                                        | Registration document or situation assimilated to registration in the corresponding Social Security regime, or consent to the verification of the data in the files of the General Treasury of Social Security or the Tax Agency.
                            li
                                | If you are not working in Spain, you must provide:
                                ul
                                    li
                                        | Documentation proving that you have public or private health insurance, contracted in Spain or in another country, provided that it provides coverage in Spain during your period of residence equivalent to that provided by the national health system. Pensioners meet this condition by providing certification of having health care at the expense of the State for which they receive a pension.
                                    li
                                        | Documentation that proves having sufficient resources for him and his family members for the period of residence in Spain. It may be accredited by any means of proof admitted by law, such as property titles, certified checks, supporting documentation of obtaining capital income or credit cards with bank certification that accredits the amount available as credit of said card.
                            li
                                | If you are a student, you must provide:
                                ul
                                    li
                                        | Registration from the public or private educational center, recognized or financed by the competent educational administration.
                                    li
                                        | Documentation proving that you have public or private health insurance. You can provide a European health card with a validity that covers the period of residence and enables you to receive the necessary health benefits from a medical point of view, taking into account the nature of the benefits and the expected duration.
                                    li
                                        | Responsible declaration that you have sufficient resources for yourself and for the members of your family, for your period of residence in Spain.
                                p
                                | The presentation of supporting documentation to participate in a European Union program that favors educational exchange for students and teachers will be considered sufficient to comply with these requirements.
                            li
                                | If you are a relative of a Union citizen, you must provide:
                                ul
                                    li
                                        | Documentation accrediting, where appropriate, legalized the family bond with the Union citizen.
                                    li Documentation accrediting economic dependence.
                                    li
                                        | Documentation that proves that the family member who gives him the right is either an employed or self-employed worker, or that he has sufficient means of living and health insurance, or that he is a student, has sufficient means for himself and for the members of his family and health insurance.
                        p
                            b Important note:
                        |  when documents from other countries are provided, they must be translated into Spanish or the co-official language of the territory where the application is submitted.
                        p
                        | In the case of standard forms of the European Union, neither their translation nor their legalization in accordance with the provisions of the community regulations that protect them will be necessary. For example: healthcare models S1, E109, E 121 ...
                        p
                        | On the other hand, all foreign public document must be previously legalized by the Consular Office of Spain with jurisdiction in the country in which said document has been issued or, where appropriate, by the Ministry of Foreign Affairs and Cooperation except in the case in which said document has been apostilled by the competent authority of the issuing country according to the Hague Convention of October 5, 1961 and unless said document is exempt from legalization by virtue of the International Convention. For more information on the translation and legalization of documents, the corresponding information sheet can be consulted
                    li
                        | Presentation of the application at any of the immigration offices in Madrid: 
                        a(href='https://www.mptfp.gob.es/portal/delegaciones_gobierno/delegaciones/madrid/servicios/extranjeria.html') List of immigration offices
                    li
                        | Pay the fee prior to the issuance of the registration certificate. 
                        a(href='https://sede.administracionespublicas.gob.es/procedimientos/index/categoria/33') Fees
        .row.mt-5            
            .p-3.col-12
                img.mx-auto.d-block(src='/dist/img/embassy.jpg')
            .p-1.col-12
                h2.text-center Dutch Embassy
            .p-3.col-12
                table.table
                    tr
                        td Adress:
                        td Pº de la Castellana 259-D Torre Espacio - piso 36 - 28046 Madrid (metro Begoña)
                    tr  
                        td Telephone:
                        td +34-913537500
                    tr
                        td Email:
                        td mad@minbuza.nl
                    tr
                        td More information: 
                        td 
                            a(href="https://www.paisesbajosmundial.nl/paises/espana/acerca-de-nosotros/embajada-en-madrid") Web Page
                


