extends layout

block content
    br
    section.container.mt-5
        .row
            .p-3.col-12
                img.img-fluid(src='/dist/img/school1.jpg')
            .p-3.col-12
                h2.text-center Primary School for our "kinderen"
        .row
            .col-6
                img.img-fluid(src='/dist/img/school2.png')
            .col-6
                p In 1964, Dutch parents residing in Spain founded an Association for Dutch education in Spain (VENOS). In order to ensure a good Dutch education for their children, they took the initiative to establish a Dutch primary school. With the help of the Dutch and Belgian business community in Madrid, the Madrid Dutch School (which in its time was called 'Hof van Holland' and later 'Hof der Lage Landen') opened its doors in November 1964. The school is officially recognized by the Ministry of Education, Culture and Science of the Netherlands and the Ministry of Education of Spain.
                    
        .row
            .p-3.col-12
                table.table
                    tr 
                        th Adress: 
                        th Phone:
                        th Email:
                    tr
                        td C/ Alonso Saavedra 20. (Manoteras - Hortaleza)
                        td 91 7661045
                        td info@nlschool.es
        .row.mt-5
            .p-3.col-12
                img.img-fluid(src='/dist/img/academia1.jpg')
            .p-3.col-12
                h2.text-center Dutch lessons for our Family and Friends"
        .row
            .col-4
                img.mx-auto.d-block(src='/dist/img/academia2.png')
            .col-8
                p The only entirely Dutch academy where you can start speaking from day one. Located in the Centro district of Madrid, very close to Puerta del Sol, the Dutch Academy of Madrid has the endorsement of a large number of students who, from all levels, speak the language in an easy, intuitive and fun way.
                    
        .row
            .p-3.col-12
                table.table
                    tr 
                        th Adress: 
                        th Phone:
                        th Email:
                    tr
                        td C/ Montera 34.(Planta 1, Puerta 5) (Sol - Gran Vía)
                        td 91 1264747
                        td info@academiaholandesa.com
