extends layout

block content
    br
    section.container.mt-5
        .row
            .p-3.col-12
                img.img-fluid(src='/dist/img/school1.jpg')
            .p-3.col-12
                h2.text-center Primary School for our "kinderen"
        .row
            .col-6
                img.img-fluid(src='/dist/img/school2.png')
            .col-6
                p 
                    In 1964, Dutch parents residing in Spain founded an Association for Dutch education in Spain (VENOS). In order to ensure a good Dutch education for their children, they took the initiative to establish a Dutch primary school. With the help of the Dutch and Belgian business community in Madrid, the Madrid Dutch School (which in its time was called 'Hof van Holland' and later 'Hof der Lage Landen') opened its doors in November 1964. The school is officially recognized by the Ministry of Education, Culture and Science of the Netherlands and the Ministry of Education of Spain.
        .row
            .p-3.col-12
                table.table
                    tr 
                        th Adress: 
                        th Phone:
                        th Email:
                    tr
                        td C/ Alonso Saavedra 20. (Manoteras - Hortaleza)
                        td 91 7661045
                        td info@nlschool.es
        

    a(href="/") Regresar al home