extends layout

block content
        br
        .container.mt-5
            form(method="post", action="/groups-signup")
                fieldset
                    div.form-group
                        label(for="username") Nombre de usuario:
                        input#username.form-control(type="text", name="username", required)
                    div.form-group
                        label(for="password") Password:
                        input#password.form-control(type="password", name="password", required)
                    div.form-group
                        label(for="email") Email:
                        input#password.form-control(type="text", name="email", required)
                    div.form-group
                        label(for="municipio") Municipio de Madrid en el que reside:
                        select#municipality.form-control(name="municipality")
                            option(value="Alcalá de Henares") Alcalá de Henares
                            option(value="Alcobendas") Alcobendas
                            option(value="Alcorcón") Alcorcón
                            option(value="Aranjuez") Aranjuez
                            option(value="Arganda del Rey") Arganda del Rey
                            option(value="Arroyomolinos") Arroyomolinos
                            option(value="Arroyomolinos") Boadilla del Monte
                            option(value="Brunete") Brunete
                            option(value="Cercedilla") Cercedilla
                            option(value="Ciempozuelos") Ciempozuelos
                            option(value="Collado Villalba") Collado Villalba
                            option(value="Colmenar Viejo") Colmenar Viejo
                            option(value="Coslada") Coslada
                            option(value="El Escorial") El Escorial
                            option(value="Fuenlabrada") Fuenlabrada
                            option(value="Getafe") Getafe
                            option(value="Leganés") Leganés
                            option(value="Majadahonda") Majadahonda
                            option(value="Manzanares el Real") Manzanares el Real
                            option(value="Móstoles") Móstoles
                            option(value="Navacerrada") Navacerrada
                            option(value="Navalcarnero") Navalcarnero
                            option(value="Parla") Parla
                            option(value="Pinto") Pinto
                            option(value="Pozuelo de Alarcón") Pozuelo de Alarcón
                            option(value="Rascafría") Rascafría
                            option(value="Rivas-Vaciamadrid") Rivas-Vaciamadrid
                            option(value="Las Rozas") Las Rozas
                            option(value="San Sebastian de los Reyes") San Sebastian de los Reyes
                            option(value="Torrejón de Ardoz") Torrejón de Ardoz
                            option(value="Tres Cantos") Tres Cantos
                            option(value="Valdemoro") Valdemoro
                    div.form-group
                        label(for="otroMunicipio") Si reside en otro municipio que no aparece en la lista, escriba cual es:
                        input#otromunicipio.form-control(type="text", name="othermunicipality")
                    div.form-group
                        input.form-control.btn.btn-lg.bg-primary.text-white(type="submit", value="Registrarse")
            div.form-group
                a(href="/login") Login con cuenta ya registrada
            
            a(href="/") Regresar al home