extends layout

block content
    .contenido
        form.form(method="post", action="/groups-login")
            fieldset
                div
                    label(for="email") email:
                    input#username(type="text", name="username", required)
                div
                    label(for="password") Password:
                    input#password(type="password", name="password", required)
                div
                    input(type="submit", value="Entrar")

            a(href="/groups-signup") Registrarse

    a(href="/") Regresar al home