extends layout

block content
        br
        .container.mt-5
            form(method="post", action="/groups-login")
                fieldset
                    div.form-group
                        label(for="email") Email:
                        input#email.form-control(type="text", name="email", required)
                    div.form-group
                        label(for="password") Password:
                        input#password.form-control(type="password", name="password", required)
                    div.form-group
                        input.form-control.btn.btn-lg.bg-primary.text-white(type="submit", value="Entrar")
            div.form-group
                    a(href="/groups-signup") Registrarse

            a(href="/") Regresar al home