extends layout

block content
        br
        .container.mt-5
            form.form-group(method="post", action="/groups-login")
                fieldset
                    div
                        label(for="email") email:
                        input#username.form-control(type="text", name="username", required)
                    div
                        label(for="password") Password:
                        input#password.form-control(type="password", name="password", required)
                    div
                        input.form-control(type="submit", value="Entrar")
            div.form-group
                    a(href="/groups-signup") Registrarse

            a(href="/") Regresar al home