extends layout

block content
    //-
        div#navigation
            ul
                li 
                    a(href="/") home
                li 
                    a(href="/shops") shops
                li 
                    a(href="/education") education
                li 
                    a(href="/documents") documents
                li 
                    a(href="second-hand") second hand
                li 
                    a(href="/city-trip") city trip --> going out
                li 
                    a(href="groups-login") groups
            