extends layout

block content
        br
        .container.mt-5
            - var municipality = 'Rivas-Vaciamadrid'
            form(method="post", action=`/messages/${municipality}`)
                fieldset
                    div.form-group
                        label(for="municipality") Municipality:
                        input#username.form-control(type="text", name="municipality", value=`${municipality}` disabled)
                    div.form-group
                        label(for="username") Username:
                        input#username.form-control(type="text", name="username", required)
                    div.form-group
                        label(for="email") Email:
                        input#username.form-control(type="text", name="email", required)
                    div.form-group
                        label(for="message") Message:
                        textarea#message.form-control(name="message", cols="40", rows="4" placeholder=`Detalle su mensaje para el grupo de ${municipality}`)
                    div.form-group
                        input.form-control.btn.btn-lg.bg-primary.text-white(type="submit", value="Send")

            a(href="/") Regresar al home