extends layout

block content

        br
        br
        div.container.mt-5
            h2 Listado de todos los municipios madrileños con holandeses
            -if(data.length)
                table.table
                    thead
                        tr
                            th Municipio
                            th Usuarios Registrados
                    each x in data     
                        tr
                            td.municipality=x._id
                            td.users=x.total
        #map-template
        script(src='/dist/leaflet/leaflet.js')
        script(src='/js/script.js')

    

        