extends layout

block content

        br
        br
        div.container.mt-5
            h2 Listado de todos los municipios madrileños con holandeses
            -if(data.length)
                table.table
                    
                    each x in data
                        tr
                            td=x.username
                            td=x.municipality
        #map-template

    

        