extends layout

block content
    br
    section.container.mt-5
        .row
            .p-3.col-12
                img.img-fluid(src='/dist/img/hema1.jpg')
            .p-3.col-12
                h2.text-center Hema shops in Madrid
            .p-3.col-12
                table.table
                    tr 
                        th Hema in: 
                        th Adress:
                    tr
                        td Sol - Callao
                        td C/ del Carmen 20
                    tr
                        td Quevedo - Bilbao
                        td C/Fuencarral 140
                    tr
                        td Goya
                        td C/ del Conde de Peñalver 12
                    tr
                        td Nuevos Ministerios
                        td C/ de Orense 15
                    tr
                        td CC. La Vaguada
                        td Av. Monforte de Lemos 36
        
        .row.mt-5
            .p-3.col-12
                img.img-fluid(src='/dist/img/zeeman1.jpg')
            .p-3.col-12
                h2.text-center Zeeman shops in Madrid
            .p-3.col-12
                table.table
                    tr 
                        th Zeeman in: 
                        th Adress:
                    tr
                        td Quintana - Pueblo Nuevo
                        td C/ de Emilio Ferrari 28
                    tr
                        td Cartagena - Av. América 
                        td C/ Alustante 3
    




    