body{
  font-family: 'Barlow Condensed' !important;
}

.enl-nav {
    color: orange !important;
}
.enl-nav:hover{
    color: orangered !important;
}

.bodyImage > div {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
  }

.bodyImage {
  width: 100%;
  min-height: 100vh;
  background-image: var(--bg-url);
  background-attachment: var(--bg-attach);
  background-size: var(--bg-size);
  background-position-x: var(--bg-x);
  background-position-y: var(--bg-y);
}

.bodyImage h2 {
    padding: 0 1rem;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 5vw;
    color: orange;
  }
  
.bodyImage span { display: block; }

.form-control{
  border-color: orange;
}

.form-group .btn {
  font-weight: bold;
}


/* for municipalities */
#map-template{
  height: 100%;
  width: 100%;
  margin-top: auto;
  
  position: absolute;
  background: orange;
}